<%- include('partials/header'); -%>

<style>
  /* Style for controlling image width */
  .card-body img {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <%= date.toDateString() %>                
        </div>
        <div class="card-body">
          <h5 data-attribute-id="<%= id %>" class="card-title"><%= title %></h5>
          <!-- Render content without escaping -->
          <p class="card-text">
            <small class="text-muted">by <%= author %></small>
          </p>
          <p class="card-text">
            <small class="text-muted">Tags: <%= tags.join(', ') %></small>
          </p>
          <form action="/users/<%= author %>/todos/delete/<%= id %>" method="POST">
            <button type="submit" class="btn btn-danger" style="background-color: green;border-color: green;">Complete ToDo</button> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
